[Desktop Entry]
Type=Service
Comment=This plugin provides control flow graph visualization in KDevelop
Comment[de]=Dieses Modul bietet Unterstützung für Kontrollflussgraphen in KDevelop
Comment[en_GB]=This plugin provides control flow graph visualisation in KDevelop
Comment[es]=Este complemento permite la visualización de los gráficos de control de flujo en KDevelop
Comment[et]=See plugin võimaldab KDevelopis näidata juhtimisvoo graafikuid
Comment[fr]=Ce module externe fournit la visualisation des graphes de flux de contrôle dans KDevelop
Comment[gl]=Este engadido fornece a visualización de gráficos de fluxo de control en KDevelop
Comment[km]=កម្មវិធី​ជំនួយ​ផ្ដល់​រូបភាព​មើល​ឃើញ​ក្រាហ្វ​​លំហូរ​នៃ​ការ​ត្រួត​ពិនិត្យ​វត្ថុ​បញ្ជា​ក្នុង​​​ KDevelop
Comment[ms]=Plugin ini menyediakan visualisasi graf aliran kawalan dalam KDevelop
Comment[nl]=Deze plugin bied grafische visualisatie van de loop van de controle in KDevelop
Comment[nn]=Nyaste QT-dokumentasjon på nett
Comment[pt]=Este 'plugin' fornece a visualização dos gráficos de fluxos de controlo no KDevelop
Comment[pt_BR]=Este plug-in fornece a visualização dos gráficos de fluxos de controle no KDevelop
Comment[ro]=Acest modul oferă vizualizări pentru graful fluxului de control în KDevelop
Comment[sv]=Insticksprogrammet tillhandahåller visualisering av kontrollflödesgrafer i KDevelop
Comment[th]=ปลั๊กอินนี้จัดเตรียมการจำลองกราฟโฟลว์คอนโทรล ใน KDevelop
Comment[uk]=За допомогою цього додатка можна здійснювати візуалізацію потокових графів керування KDevelop
Comment[x-test]=xxThis plugin provides control flow graph visualization in KDevelopxx
Comment[zh_CN]=此插件为 KDevelop 提供了可视化的控制流程图
Comment[zh_TW]=此外掛程式提供 KDevelop 中的控制流程圖
Name=KDevelop Control Flow Graphs
Name[de]=KDevelop-Kontrollflussgraphen
Name[en_GB]=KDevelop Control Flow Graphs
Name[es]=Gráficos de control de flujo de KDevelop
Name[et]=KDevelopi juhtimisvoo graafikud
Name[fr]=Graphes de flux de contrôle de KDevelop
Name[gl]=Gráficos de fluxo de control en KDevelop
Name[km]=ក្រាហ្វ​​លំហូរ​នៃ​ការ​ត្រួត​ពិនិត្យ​វត្ថុ​បញ្ជា​ ​KDevelop
Name[ms]=Graf Kawalan Aliran KDevelop
Name[nds]=Programmafloopplaans för KDevelop
Name[nl]=KDevelop Control Flow Graphs
Name[pt]=Gráficos do Fluxo de Controlo do KDevelop
Name[pt_BR]=Gráficos do Fluxo de Controle do KDevelop
Name[ro]=Grafuri ale fluxului de control pentru KDevelop
Name[sv]=Kdevelop kontrollflödesgrafer
Name[th]=กราฟโฟลว์คอนโทรลของ KDevelop
Name[uk]=Потокові графи керування KDevelop
Name[x-test]=xxKDevelop Control Flow Graphsxx
Name[zh_CN]=KDevelop 控制流图
Name[zh_TW]=KDevelop 控制流程圖
GenericName=KDevelop Control Flow Graphs
GenericName[de]=KDevelop-Kontrollflussgraphen
GenericName[en_GB]=KDevelop Control Flow Graphs
GenericName[es]=Gráficos de control de flujo de KDevelop
GenericName[et]=KDevelopi juhtimisvoo graafikud
GenericName[fr]=Graphes de flux de contrôle de KDevelop
GenericName[km]=ក្រាហ្វ​លំហូរ​នៃ​ការ​ត្រួត​ពិនិត្យ​វត្ថុ​បញ្ជា ​KDevelop
GenericName[ms]=Graf Aliran Kawalan KDevelop
GenericName[nds]=Programmafloopplaans för KDevelop
GenericName[nl]=KDevelop Control Flow Graphs
GenericName[pt]=Gráficos do Fluxo de Controlo do KDevelop
GenericName[pt_BR]=Gráficos de Fluxo de Controle do KDevelop
GenericName[ro]=Grafuri ale fluxului de control pentru KDevelop
GenericName[sv]=Kdevelop kontrollflödesgrafer
GenericName[th]=กราฟโฟลว์คอนโทรลของ KDevelop
GenericName[uk]=Потокові графи керування KDevelop
GenericName[x-test]=xxKDevelop Control Flow Graphsxx
GenericName[zh_CN]=KDevelop 控制流图
GenericName[zh_TW]=KDevelop 控制流程圖
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcontrolflowgraphview
X-KDE-PluginInfo-Name=kdevcontrolflowgraphview
X-KDevelop-Version=11
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
