[Desktop Entry]
Type=Service
Comment=This plugin provides control flow graph visualization in KDevelop
Comment[en_GB]=This plugin provides control flow graph visualisation in KDevelop
Comment[es]=Este complemento proporciona visualización de gráficos de control de flujo en KDevelop
Comment[fr]=Ce module fournit un graphique de visualisation du flot d'exécution pour KDevelop
Comment[pt]=Este 'plugin' oferece a visualização de gráficos de fluxos de controlo no KDevelop
Comment[sv]=Insticksprogrammet tillhandahåller visualisering av kontrollflödesgrafer i KDevelop
Comment[uk]=За допомогою цього додатка можна здійснювати візуалізацію потокових графів керування KDevelop
Comment[x-test]=xxThis plugin provides control flow graph visualization in KDevelopxx
Name=KDevelop Control Flow Graphs
Name[en_GB]=KDevelop Control Flow Graphs
Name[es]=Gráficos de control de flujo de KDevelop
Name[fr]=Graphiques de visualisation du flot d'exécution pour KDevelop
Name[pt]=Gráficos de Fluxo de Controlo do KDevelop
Name[sv]=Kdevelop kontrollflödesgrafer
Name[uk]=Потокові графи керування KDevelop
Name[x-test]=xxKDevelop Control Flow Graphsxx
GenericName=KDevelop Control Flow Graphs
GenericName[en_GB]=KDevelop Control Flow Graphs
GenericName[pt]=Gráficos de Fluxo de Controlo do KDevelop
GenericName[uk]=Потокові графи керування KDevelop
GenericName[x-test]=xxKDevelop Control Flow Graphsxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcontrolflowgraphview
X-KDE-PluginInfo-Name=kdevcontrolflowgraphview
X-KDevelop-Version=7
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
