[Desktop Entry]
Type=Service
Comment=This plugin provides control flow graph visualization in KDevelop
Comment[en_GB]=This plugin provides control flow graph visualisation in KDevelop
Comment[es]=Este complemento permite la visualización de los gráficos de control de flujo en KDevelop
Comment[et]=See plugin võimaldab KDevelopis näidata juhtimisvoo graafikuid
Comment[fr]=Ce module fournit une représentation en graphique des flux de control dans KDevelop
Comment[gl]=Este engadido fornece a visualización de gráficos de fluxo de control en KDevelop
Comment[nl]=Deze plugin bied grafische visualisatie van de loop van de controle in KDevelop
Comment[nn]=Nyaste QT-dokumentasjon på nett
Comment[pt]=Este 'plugin' fornece a visualização dos gráficos de fluxos de controlo no KDevelop
Comment[pt_BR]=Este plugin fornece a visualização dos gráficos de fluxos de controle no KDevelop
Comment[sv]=Insticksprogrammet tillhandahåller visualisering av kontrollflödesgrafer i KDevelop
Comment[uk]=За допомогою цього додатка можна здійснювати візуалізацію потокових графів керування KDevelop
Comment[x-test]=xxThis plugin provides control flow graph visualization in KDevelopxx
Name=KDevelop Control Flow Graphs
Name[en_GB]=KDevelop Control Flow Graphs
Name[es]=Gráficos de control de flujo de KDevelop
Name[et]=KDevelopi juhtimisvoo graafikud
Name[fr]=Graphiques de flux de control
Name[gl]=Gráficos de fluxo de control en KDevelop
Name[nl]=KDevelop Control Flow Graphs
Name[pt]=Gráficos do Fluxo de Controlo do KDevelop
Name[pt_BR]=Gráficos do Fluxo de Controle do KDevelop
Name[sv]=Kdevelop kontrollflödesgrafer
Name[uk]=Потокові графи керування KDevelop
Name[x-test]=xxKDevelop Control Flow Graphsxx
GenericName=KDevelop Control Flow Graphs
GenericName[en_GB]=KDevelop Control Flow Graphs
GenericName[es]=Gráficos de control de flujo de KDevelop
GenericName[pt]=Gráficos do Fluxo de Controlo do KDevelop
GenericName[pt_BR]=Gráficos de Fluxo de Controle do KDevelop
GenericName[uk]=Потокові графи керування KDevelop
GenericName[x-test]=xxKDevelop Control Flow Graphsxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcontrolflowgraphview
X-KDE-PluginInfo-Name=kdevcontrolflowgraphview
X-KDevelop-Version=10
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
